<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <link id="bs-css" href="https://netdna.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link id="bsdp-css" href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
     <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>

</head>
    <body>
        <form action="{% url 'djangoapp:add_review' dealer_id %}" method="post">
            {% csrf_token %}
            <h2>Add a review about {{ dealer_name }} </h2>
            <b>Enter the review content:</b>
            <div>
                <textarea class="form-control" id="review" name="review" rows="2" required></textarea>            </div>
                <br> 
            <div class="form-check">                            
                <input class="form-check-input" type="checkbox" value="" id="purchasecheck">
                <label class="form-check-label" for="purchasecheck">
                    Has purchased the car from {{ dealer_name }}? (Select purchased car information below if checked)
                </label>
            </div>
            <br>
            <div>
                <b>Select your car (model-make-year)</b>
                <select name="car" id="car" class="form-select" required>
                    {% for car in car_models %}
                        <option selected value={{car.id}}>{{car.name}}-{{car.make.name}}-{{ car.year|date:"Y" }}</option>
                    {% endfor %}
                </select>
            </div>            
            <br>
            <div> Select your purchase date: </div>
           <div class="input-group date">
            <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div> 
            <br>
            <button class="btn btn-primary" type="submit">Add Review</button>
        </form>
    </body>

    <script type="text/javascript">
     $('.input-group.date').datepicker({});
    </script>
</html>